<div class="wrapper" data-grid="center">
    <h1 data-cell="shrink">Trabalhos em Destaque</h1>
</div>
    <div class="slider-container">
        <div class="slider carousel" data-controls data-autoplay data-size="4">
            {% for post in site.posts %}
                <section class="slide" data-area="projeto-destaque">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <div class="foto">
                            <img src="{{site.baseurl}}/img/ilustrativas/{{post.img-principal}}.jpg" class="portrait" alt="">
                        </div>
                        <div class="descricao">
                            <h4>{{post.title}}</h4>
                            <p>{{post.categories}}</p>
                            <p>{{ post.excerpt | strip_html | truncatewords: 3 }}</p>
                        </div>
                    </a>
                </section>
            {% endfor %}    
        </div>
    </div>