<div class="wrapper" data-grid="center">
    <h1 data-cell="shrink">Trabalhos em Destaque</h1>
</div>
    <div class="slider-container">
        <div class="slider carousel" data-controls data-autoplay data-size="4">
            {% for item in site.fotos-principais %}
                <section class="slide" data-area="projeto-destaque">
                    <div class="foto">
                        <img src="../img/ilustrativas/{{item.img}}.jpg" class="portrait" alt="">
                    </div>
                    <h3>Título</h3>
                    <p>casamento</p>
                    <P>local do casamento</P>
                </section>
            {% endfor %}    
        </div>
    </div>