%section-spacing
    padding-top: $spacing-unit * 2
    padding-bottom: $spacing-unit * 2

.section-
    &home
        @extend %section-spacing

        [data-area~="projeto-destaque"]
            height: 310px
            background-color: $white-color
            //border: 1px solid $brand-color

            .foto
                height: 160px

                img
                    &.portrait
                        width: 100%
                        height: auto
            .descricao
                padding: 0 $spacing-unit/2
                text-align: center
                p
                    margin-top: 0
                    margin-bottom: 0            