---
layout: default
---

<article class="post page-content" itemscope itemtype="http://schema.org/BlogPosting">

  <header data-grid="center column" class="post-header wrapper">
    <h1 data-cell="shrink" class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p data-cell="shrink" class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    <div data-cell data-grid="spacing center">
        <p data-cell="1of3 shrink" class="share-text">
          Compartilhe:
        </p>
        <div data-cell="2of3">
          {% include share/widget.html position='cabeçalho' %}
        </div>
    </div>
  </header>
  <div class="post-content" itemprop="articleBody">    
    {{ content }}
    <section data-grid="row">
      <div data-cell>
        <div class="foto-principal">
          <img id="{{page.principal-img}}" src="{{page.principal-img}}" class="portrait" alt="">
        </div>
      </div>
        {% for img in page.imgs %}
          {% if img == page.principal-img %}
          {% else %}
            <div data-cell="">
              <div class="foto-principal">
                <img id="{{img}}" src="{{img}}" class="portrait" alt="">      
              </div>
            </div>
          {% endif %}
        {% endfor %}
    </section>
    <div class="slider-container">
        <div class="slider carousel" data-controls data-autoplay data-size="4">
          {% for img in page.imgs %}
            <section class="slide">
                <a href="#{{img}}">
                    <div class="foto">
                        <img src="{{img}}" class="portrait" alt="">
                    </div>
                </a>
            </section>
            {% endfor %}
          </div>                  
    </div>
  </div>
  <section class="wrapper" data-area="albuns-relacionados">
    <h3 data-grid="center">Veja outros álbuns de {{page.categories.first}}</h3>
    <div data-grid="spacing center">
      {% for post in site.posts limit: 5 %}
        {% if post.title == page.title %}
        {% else %}
          {% if post.categories.first == page.categories.first %}
            <section data-cell="1of3 shrink" data-area="projeto-destaque">
              <div class="foto">
                  <img src="{{post.principal-img}}" class="portrait" alt="">
              </div>
              <h4>{{post.title}}</h4>
              <p>{{post.categories.first}}</p>
              <p>{{ post.excerpt | strip_html | truncatewords: 3 }}</p>
            </section>
          {% endif %}
        {% endif %}
      {% endfor %}
    </div>
  </section>
</article>
